<!-- Start deneb_about section -->
<section class="deneb_about {% if include.section_class %} {{include.section_class}} {% else %} about_v1 {% endif %}">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-5">
				<div class="deneb_img_box wow fadeInLeft">
					<img src="{{relative_url}}/assets/images/about.png" class="img-fluid" alt="">
				</div>
			</div>
			<div class="col-lg-7">
				<div class="deneb_content_box wow fadeInRight">
					<h2>Наші переваги</h2>
					<p>Ми готові стати Вашим "Відділом сталого розвитку" та запропонувати комплексні послуги щодо інтеграції принципів сталого розвитку в бізнес-процеси вашої компанії. Ми допоможемо визначити пріоритетні цілі та покроковий план їх досягнення.</p>
					<p>Ми розпочинаємо співпрацю з простої бесіди, знайомимось з Вами та Вашими бізнес-потребами. А потім створюємо індивідуальний план роботи, з урахуванням Ваших потреб та бачення сталого розвитку.</p>
          {%- unless page.name == "about.html" -%}
          <a href="/about" class="deneb_btn">Детальніше</a>
          {%- endunless -%}
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End deneb_about section -->
