<!-- Start footer -->
<footer class="deneb_footer">
	<div class="widget_wrapper" style="background-image: url(/assets/images/footer_bg.png);">
		<div class="container">
			<div class="row">
				<div class="col-xl-4 col-lg-5 col-md-6 col-12 offset-xl-1">
					<div class="widget widegt_about mb-md-4 mb-lg-0">
						<div class="widget_title">
							<h4>Цілі сталого розвитку</h4>
						</div>
						<p>ЦСР окреслюють глобальні пріоритети та прагнення людства до подолання нерівності і мають на меті скерувати світ на сталий шлях розвитку.</p>
						<ul class="social">
							{% if site.facebook_url %}
							<li><a href="{{site.facebook_url}}" target="__blank"><i class="fab fa-facebook-f"></i></a></li>
							{% endif %}
							{% if site.twitter_url %}
							<li><a href="{{site.twitter_url}}" target="__blank"><i class="fab fa-twitter"></i></a></li>
							{% endif %}
							{% if site.instagram_url %}
							<li><a href="{{site.instagram_url}}" target="__blank"><i class="fab fa-instagram"></i></a></li>
							{% endif %}
              {% if site.linkedin_url %}
							<li><a href="{{site.linkedin_url}}" target="__blank"><i class="fab fa-linkedin-in"></i></a></li>
							{% endif %}
						</ul>
					</div>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-12 offset-lg-1 offset-md-3">
					<div class="widget widget_link">
						<div class="widget_title">
							<h4>Посилання</h4>
						</div>
						<ul>
							<li><a href="/about">Про нас</a></li>
							<li><a href="/services">Послуги</a></li>
							<li><a href="/news">Новини</a></li>
							<li><a href="/contact">Контакти</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12 mt-lg-0 mt-md-4">
					<div class="widget widget_contact">
						<div class="widget_title">
							<h4>Контакти</h4>
						</div>
						<div class="contact_info">
							<div class="single_info">
								<div class="icon">
									<i class="fas fa-phone-alt"></i>
								</div>
								<div class="info">
									<p><a href="tel:+380930465876">+380 93 046 5876</a></p>
									<p><a href="tel:+380997517559">+380 99 751 7559</a></p>
								</div>
							</div>
							<div class="single_info">
								<div class="icon">
									<i class="fas fa-envelope"></i>
								</div>
								<div class="info">
									<p><a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="copyright_area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="copyright_text">
						<p>&copy; {{ 'now' | date: "%Y" }} <span>{{ site.title }}</span>. All rights reserved.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- End footer -->
