<!-- Start deneb_experience section -->
<section class="deneb_experience">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="section_title text-center">
					<h2>Наш досвід</h2>
					<!-- <p>When unknow printer took a gallery of type and scramblted it to make a type specimen book</p> -->
				</div>
			</div>
		</div>
		<div class="single_experience">
			<div class="row align-items-center">
				<div class="col-lg-5 col-md-5">
					<div class="deneb_text_box">
						<p>Сертифікована тренерка ПРООН. Підприємиця. Професійний фокус: їжа, туризм, сільське господарство та медицина. Ірина допомагає компаніям втілювати сталі підходи, адаптовувати нові бізнес-моделі, розробляти сталі політики, бенчмарки та показники.</p>
					</div>
				</div>
				<div class="col-lg-2 col-md-2">
					<div class="icon text-center">
						<h3>1.</h3>
					</div>
				</div>
				<div class="col-lg-5 col-md-5">
					<div class="deneb_info_box">
						<h4>Ірина Фіщук</h4>
						<h6>Консультантка</h6>
						<h6>з питань сталого розвитку</h6>
					</div>
				</div>
			</div>
		</div>
		<div class="single_experience">
			<div class="row align-items-center">
				<div class="col-lg-5 col-md-5">
					<div class="deneb_info_box">
						<h4>Валерій Кокоть</h4>
						<h6>Консультант з впровадження</h6>
						<h6>Цілей сталого розвитку</h6>
					</div>
				</div>
				<div class="col-lg-2 col-md-2">
					<div class="icon text-center">
						<h3>2.</h3>
					</div>
				</div>
				<div class="col-lg-5 col-md-5">
					<div class="deneb_text_box">
						<p>Підприємець. Імпакт-інвестор. Сертифікований ПРООН консультант з впровадження сталості для бізнесу. Валерій спеціалізується на розвитку сталих бізнес-моделей, розробленні стратегій сталості та імпакт-інвестуванні.</p>

						<p>Професійне кредо: «Робимо сталість прибутковою».</p>
					</div>
				</div>
			</div>
		</div>
		<div class="single_experience">
			<div class="row align-items-center">
				<div class="col-lg-5 col-md-5">
					<div class="deneb_text_box">
						<p>Антоніна спеціалізується на впровадженні системи ощадливого виробництва у виробничих і сервісних компаніях. Консультувала компанії «Масло ТОМ», «Cheesecake Family» та ін.</p>
						<p>Авторка та викладачка курсу «Ощадливість, що створює можливості» у Львівській бізнес-школі.</p>
					</div>
				</div>
				<div class="col-lg-2 col-md-2">
					<div class="icon text-center">
						<h3>3.</h3>
					</div>
				</div>
				<div class="col-lg-5 col-md-5">
					<div class="deneb_info_box">
						<h4>Антоніна Носко</h4>
						<h6>Експертка з питань</h6>
						<h6>ощадливого виробництва (LEAN)</h6>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End deneb_experience section -->
