<!-- Start deneb_service section -->
<section class="service_wrapper section_padding">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="service_tab_wrap">
					<div class="service_tab_nav">
						<ul class="nav nav-tabs">
						    <li class="nav-item">
						      	<a class="nav-link" data-toggle="tab" href="#impact">
                      <img src="../assets/images/icon_11.png" />
                      <span>Вплив на довкілля</span>
                    </a>
						    </li>
						    <li class="nav-item">
						      	<a class="nav-link" data-toggle="tab" href="#reporting">
                      <img src="../assets/images/icon_12.png" />
                      <span>Нефінансова звітність</span>
                    </a>
						    </li>
						    <li class="nav-item">
						      	<a class="nav-link" data-toggle="tab" href="#communication">
                      <img src="../assets/images/icon_13.png" />
                      <span>Комунікація</span>
                    </a>
						    </li>
						    <li class="nav-item">
						      	<a class="nav-link" data-toggle="tab" href="#strategy">
                      <img src="../assets/images/icon_14.png" />
                      <span>Візія & Стратегія</span>
                    </a>
						    </li>
						    <li class="nav-item">
						      	<a class="nav-link" data-toggle="tab" href="#greendeal">
                      <img src="../assets/images/icon_15.png" />
                      <span>Green Deal</span>
                    </a>
						    </li>
						    <li class="nav-item">
						      	<a class="nav-link" data-toggle="tab" href="#lean">
                      <img src="../assets/images/icon_16.png" />
                      <span>LEAN</span>
                    </a>
						    </li>
						</ul>
					</div>
					<!-- Tab panes -->
					<div class="tab-content">
					    <div id="impact" class="tab-pane">
					      	<div class="row align-items-center">
					      		<div class="col-lg-6">
					      			<div class="deneb_content_box">
					      				<h2>Вплив на довкілля</h2>
                        <p>Аналіз впливу на довкілля може здійснюватись як на рівні компанії так і на рівні всього ланцюга формування вартості та життєвого циклу продукту або послуги. Ми допоможемо визначити ваші об’єми викидів парникових газів  та напрацювати рішення, спрямовані на досягнення вуглецевої нейтральності та скорочення викидів.</p>
                        <p>Оцінка внутрішнього та зовнішнього середовищ роботи компанії допоможе виявити найбільш релевантні та амбітні ЦСР для Вашого бізнесу та визначити вікна можливостей для їх впровадження. Це може включати аналіз ланцюга формування вартості, порівняння з тенденціями на українському та міжнародному ринках, аналіз прямих конкурентів.
                        <p>Інтеграція ЦСР у ДНК компанії відбувається шляхом включення ЦСР у наявні політики та процедури, побудову системи бенчмарків для моніторингу прогресу, розробку заходів та рекомендацій щодо запровадження сталих підходів на всіх рівнях роботи компанії.</p>
					      			</div>
					      		</div>
					      		<div class="col-lg-6">
					      			<div class="deneb_img_box">
					      				<img src="../assets/images/services/01.jpg" class="img-fluid" />
					      			</div>
					      		</div>
					      	</div>
					    </div>
					    <div id="reporting" class="tab-pane fade">
					      	<div class="row align-items-center">
					      		<div class="col-lg-6">
					      			<div class="deneb_content_box">
					      				<h2>Звітність</h2>
					      				<p>Оприлюднення нефінансового звіту значно впливає на сприйняття компанії читачами звіту. 90 % читачів зазначили, що звіт суттєво вплинув на їхні погляди на компанію, з яких 85 % відзначили, що вплив був позитивним.</p>

												<p>Звіт The Global Reporting Initiative, 2008</p>

												<p>Наші експерти допоможуть визначити суттєві питання та напрацювати механізми їх вирішення, запропонують метрики для моніторингу прогресу досягнення поставлених цілей відповідно до міжнародних стандартів. Завдяки поданню соціальної та екологічної звітності, Ваші співробітники, клієнти, партнери та інвестори зможуть впевнитись у надійності співпраці з Вашою компанією.</p>

					      			</div>
					      		</div>
					      		<div class="col-lg-6">
					      			<div class="deneb_img_box">
					      				<img src="../assets/images/services/02.jpg" class="img-fluid" />
					      			</div>
					      		</div>
					      	</div>
					    </div>
					    <div id="communication" class="tab-pane fade">
					      	<div class="row align-items-center">
					      		<div class="col-lg-6">
					      			<div class="deneb_content_box">
					      				<h2>Комунікація сталих рішень</h2>
					      				<p>Впроваджуєте інновації? Використовуєте екологічно безпечне паковання або плануєте перейти на відновлювальні джерела енергії? Розкажіть про це!</p>
												<p>Належна комунікація сталих практик, рішень або планів щодо їх реалізації може підвищити лояльність та довіру до Вашої компанії.</p>
												<p>Кому можуть бути цікаві ваші досягнення та цілі?</p>

												<ul>
													<li>
														<strong>Клієнтам:</strong>
														78% клієнтів за наявності вибору, надали б перевагу товарам та послугам компаній, які запроваджують сталі практики.  — Звіт PWC, 2015
													</li>
													<li>
														<strong>Співробітникам:</strong>
														Сталий бізнес залучає кращих працівників завдяки відчуттю безпеки та турботи з боку компанії, а також відчуттю гордості за свою справу та спільні з компанією цінності.
													</li>
													<li>
														<strong>Інвесторам і партнерам:</strong>
														Більшість міжнародних партнерів висуває вимоги не тільки до якості товару або послуг, але і до методів ведення бізнесу. Наприклад, соціальної відповідальності, політики поводження з відходами.
													</li>
													<li>
														<strong>Постачальникам:</strong>
														Відповідальне проведення закупівель та вибір підрядників, які декларують досягнення ЦСР, може посилити позитивний імідж компанії та дозволити пришвидшити трансформацію бізнесу у категорію «сталий»
													</li>
													<li>
														<strong>Органам влади:</strong>
														Свідомий рух компанії в напрямі сталого розвитку може призвести до послаблення контролю з боку держави та вибудувати партнерські відносини з органами місцевого самоврядування.
													</li>
												</ul>

					      			</div>
					      		</div>
					      		<div class="col-lg-6">
					      			<div class="deneb_img_box">
					      				<img src="../assets/images/services/03.jpg" class="img-fluid" />
					      			</div>
					      		</div>
					      	</div>
					    </div>
					    <div id="strategy" class="tab-pane fade">
					      	<div class="row align-items-center">
					      		<div class="col-lg-6">
					      			<div class="deneb_content_box">
					      				<h2>Візія & Стратегія</h2>
												<p>64% людей по всьому світу зазначає зміни клімату глобальною проблемою, що потребує вирішення.</p>
					      				<p>Дослідження UNDP та University of Oxford, 2021.</p>
					      				<p>Ми можемо допомогти інтегрувати сталість у стратегію розвитку Вашої компанії з урахуванням обмеженості ресурсів та зважаючи на стадію життєвого циклу підприємства. Чітке формулювання місії організації дозволяє краще транслювати цінність компанії для клієнтів, налагодити співпрацю з партнерами та місцевими органами влади, що позитивно відобразиться на діловому іміджі підприємства.</p>

					      			</div>
					      		</div>
					      		<div class="col-lg-6">
					      			<div class="deneb_img_box">
					      				<img src="../assets/images/services/04.jpg" class="img-fluid" />
					      			</div>
					      		</div>
					      	</div>
					    </div>
					    <div id="greendeal" class="tab-pane fade">
					      	<div class="row align-items-center">
					      		<div class="col-lg-6">
					      			<div class="deneb_content_box">
					      				<h2>Green Deal: аналіз впливу та вияв загроз</h2>
					      				<p>Європейський зелений курс та низка ініціатив та політик Європейського Союзу містять ряд вимог, яким має відповідати український бізнес для співпраці з європейськими компаніями.</p>
					      				<p> Ми допоможемо Вашому бізнесу скласти “тест на відповідність” європейському законодавству задля успішного започаткування або продовження міжнародного партнерства.</p>
					      			</div>
					      		</div>
					      		<div class="col-lg-6">
					      			<div class="deneb_img_box">
					      				<img src="../assets/images/services/05.jpg" class="img-fluid" />
					      			</div>
					      		</div>
					      	</div>
					    </div>
					    <div id="lean" class="tab-pane fade">
					      	<div class="row align-items-center">
					      		<div class="col-lg-6">
					      			<div class="deneb_content_box">
					      				<h2>Ощадливе виробництво (LEAN)</h2>
					      				<p>LEAN підхід допомагає звільнити до 90% людських ресурсів, часу та грошей.</p>
												<p>Це універсальний інструмент управління, який збільшує вартість товару для споживача, зменшує витрати для компанії та не вимагає великих витрат на відміну від екологічного аудиту. </p>
												<p>Ми допоможемо Вашій компанії скласти “тест на готовність до LEAN-трансформації” та визначити найкращий шлях для вирішення виявлених проблем.
												</p>
					      			</div>
					      		</div>
					      		<div class="col-lg-6">
					      			<div class="deneb_img_box">
					      				<img src="../assets/images/services/06.jpg" class="img-fluid" />
					      			</div>
					      		</div>
					      	</div>
					    </div>
					</div>
					<!-- tab pane -->
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End deneb_service section -->
