<!-- Start deneb_banner section -->
<section class="deneb_banner banner_v1">
	<div class="shape_v1">
		<img src="/assets/images/shape/shape_1.png" class="shape_1">
	</div>
	<div class="container">
		<div class="hero_slider">
			<div class="signle_slider">
				<div class="row align-items-center">
					<div class="col-lg-5">
						<div class="banner_content wow fadeInLeft">
							<h1>
								<span>{{ site.title }}</span>
							</h1>
							<h5>Сталі рішення для Вашого бізнесу</h5>
							<p>Ми команда експертів, які об’єднались з метою посилення ролі бізнесу у досягненні економічної соціальної та екологічної сталості.</p>
							<a href="/contact" class="deneb_btn">Відправити запит</a>
						</div>
					</div>
					<div class="col-lg-7">
						<div class="deneb_img_box wow fadeInRight">
							<img src="/assets/images/slider/antonina.nosko.png" class="img-fluid" alt="Antonina Nosko"/>
						</div>
					</div>
				</div>
			</div>
			<div class="signle_slider">
				<div class="row align-items-center">
					<div class="col-lg-5">
						<div class="banner_content wow fadeInLeft">
              <h1>
								<span>{{ site.title }}</span>
							</h1>
							<h5>Сталі рішення для Вашого бізнесу</h5>
							<p>Ми команда експертів, які об’єднались з метою посилення ролі бізнесу у досягненні економічної соціальної та екологічної сталості.</p>
							<a href="/contact" class="deneb_btn">Відправити запит</a>
						</div>
					</div>
					<div class="col-lg-7">
						<div class="deneb_img_box wow fadeInRight">
							<img src="/assets/images/slider/iryna.fischuk.png" class="img-fluid" alt="Iryna Fischuk"/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End deneb_banner section-->
