<div class="social-share">
	<div class="share">
		<ul>
      <li>Поділитись:</li>
      <li>
        <a
          href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ site.baseurl }}{{ page.url }}"
          target="_blank"
          title="Поділитись через Facebook"
        >
          <i class="fab fa-facebook-f"></i>
        </a>
      </li>
      <li>
		    <a
          href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ site.baseurl }}{{ page.url }}"
		      target="_blank"
		      title="Поділитись через Twitter"
        >
		      <i class="fab fa-twitter"></i>
        </a>
      </li>
      <li>
        <a
          href="https://www.linkedin.com/sharing/share-offsite/?url={{ site.url }}{{ site.baseurl }}{{ page.url }}"
          target="_blank"
          title="Поділитись через LinkedIn"
        >
        <i class="fab fa-linkedin-in"></i>
        </a>
      </li>
		</ul>
	</div>
</div>
