body {
  font-family: 'Nunito', 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Nunito', 'Poppins', sans-serif;
  font-weight: 500;
}

/* Overrides*/

.deneb_breadcrumb {
  padding: 200px 0 50px;
}

.deneb_btn {
  font-family: 'Nunito', 'Poppins', sans-serif;
  padding: 0 1rem;
}

.deneb_cta {
  .cta_wrapper {
    .button_box {
      .deneb_btn:hover {
        color: #feb000 !important;
      }
    }
  }
}

.deneb_footer {
  .widget_wrapper {
    .widget_contact {
      .contact_info {
        .single_info {
          max-width: none;

          .icon {
            position: relative;
            top: 1px;
          }
        }
      }
    }
  }
}

.deneb_pagination {
  ul {
    li {
      margin: 0;

      &.page-item.next {
        position: absolute;
        right: 15px;
      }
    }

    @media (max-width: 768px) {
      li {
        a {
          font-size: 1.2rem;
          line-height: 50px;
        }
      }

      .next,
      .prev {
        a {
          height: 50px;
          width: 100px;
        }
      }
    }
  }
}

.deneb_sidebar {
  .featured_news {
    .post_wrap {
      .post_img {
        img {
          object-fit: cover;
        }
      }
    }
  }

  .widget_search {
    .form_group {
      .form_control {
        padding-left: 50px;
      }
    }

    #results-container {
      margin: 1rem;

      li {
        padding: 0.75rem 0;

        &:not(:last-of-type) {
          border-bottom: 1px solid #EEE;
        }

        a {
          color: #011a3e;
          display: block;

          &:hover {
            color: #feb000;
          }
        }
      }
    }
  }
}

.header_area {
  .sidenav_menu {
    .sidebar-menu {
      li {
        a {
          text-transform: none;
        }
      }
    }
  }

	.site_menu {
		.primary_menu {
			.main_menu {
				ul {
					li {
						.deneb_btn {
							padding: 0 1rem;
						}
          }
        }
      }
    }
  }

  .sticky-brand-name {
    display: none;
  }
}

.header_area.sticky {
  .sticky-brand-name {
    color: #feb000;
    display: unset;
    font-weight: bold;
    margin-left: 0.75rem;
    position: relative;
    top: 2px;
  }
}

.post_content {
  dl,
  ol,
  ul {
    margin-left: 20px;
  }
}

.service_wrapper {
  .service_tab_wrap {
    .tab-content {
      .deneb_content_box {
        li {
            margin-bottom: 20px;
        }
      }
    }
  }
}

.sidebar-menu {
  li {
    &:hover {
      a {
        border-left-color: #1e282c;
      }
    }

    .deneb_btn {
      margin-top: 24px;
      padding: 0 1rem;
    }
  }
}

.social-share {
  ul {
    li {
      display: inline-block;
      margin: 0 5px;
    }
  }
}

@media (max-width: 768px) {
  .deneb_breadcrumb {
    padding: 130px 0 25px;
  }
}

@media (max-width: 450px) {
  .service_tab_nav {
    a {
      max-height: 150px;
      max-width: 150px;
    }
  }

  .service_wrapper {
    .service_tab_wrap {
      .service_tab_nav {
        .nav-tabs {
          .nav-item {
            .nav-link {
              padding: 20px 15px;

              &.long-text {
                padding: 5px 15px;
              }
            }
          }
        }
      }
    }
  }
}
